<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <!--namespace对应的dao接口-->
<mapper namespace="com.cheer.mybatis.dao.EmpMapper">
    <!-- id是方法名 #{id}是方法参数 -->
    <select id="getEmp" resultType="emp">
        select * from emp where empno = #{empno}
    </select>
    <select id="getAllEmp" resultType="emp">
        select * from emp
    </select>
    <insert id="insertEmp">
        insert into emp values (#{empno},#{ename},#{job},#{mgr},#{hiredate},#{sal},#{com},#{deptno})
    </insert>
    <delete id="deleteEmp">
        delete from emp where empno = #{empno}
    </delete>
    <update id="updateEmp">
        update emp set ename = #{ename},job = #{job},mgr = #{mgr},hiredate = #{hiredate},sal = #{sal},com = #{com},deptno = #{deptno} where empno = #{empno}
    </update>
    <select id="rowCountEmp" resultType="int">
        select count(*) from emp
    </select>
</mapper>
